body {
    margin: 0;
    padding: 0;
    
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    color: #000000;
    text-transform: uppercase;
    text-transform: uppercase;
    background-color: rgb(242,242,242);
    
    display: flex;
    justify-content: center;
}

a {
    font-family: "PT Sans Narrow", Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    color: #333333;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
}

main {
     text-align: center;
}

.main-navigation {
    color: #000000;
    
    background-color: #ffffff;
    
    display: flex;
}

section.page-title {
        display: block;
        width: 1200;
        height: 566;
    
        background: url(../img/background.jpg) no-repeat  top center;

}

div.page-title::after {
    background: no-repeat url(../img/Shape.png) ;
    background-size: 103%;
    background-position: top center;
    
    margin: 0;
}

.site-navigation {
    list-style: none;
    font-style: bold;
    
    display: flex;
    width: 1200px;
    height: 56px;
    justify-content: space-around;
    
    margin: 0;
    padding: 0;
}

.site-navigation a:hover,
.site-navigation a:focus {
   color: #81b3d2;
}

.site-navigation a:active {
    color: rgb( 202, 202, 202);
}

.reasons ul{
    list-style: none;
}

.reasons h2 {
    color: #333333;
    font-size: 14px;
}

.reason1,
.reason2 {
    color: #fff;
    background-color: rgb(129, 179, 210);
    display: flex;
    width: 1200px;
    height: 245;

}

.reason3,
.reason4,
.reason5 {
    color: #333333;
    background-color: rgb(238, 238, 238);
    
    width: 400px;
    height: 215px;
    
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 40px;
    
}

.chips ul li{
    list-style: none; 
}

.living-chip {
    background: url(../img/icon-1.svg) no-repeat;
} 

.gotcha button {
    font-size: 21px;
    color: #ffffff;
    text-align: center;
    background-color: rgb(118, 99, 87);
    border: none;
    width: 568px;
    height: 86px;
    margin-top: 30px;
    margin-bottom: 0;
    
}

.modal-search {
    position: absolute;
    right: calc(436px);
    z-index: 1;

    background-color: #fff;
    width: 568px;
    height: 395px;
}



.billboard {
    padding-top: 600px;
    font-size: 21px;
    
    display: inline-block;
    width: 440px;
}

.reason-title {
    font-size: 21px;
}

.footer-tag {
    font-weight: bold;
    font-size: 21px;
}



.footer-social ul {
    list-style: none;
    
    width: 150px;
    display: flex;
    justify-content: space-between;
}

.home {
    background-image: url(../img/icon-1.svg);
}

fieldset {
    border: 0;
}

.main-footer {
  background-color: rgb(255, 255, 255);
  height: 120px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}





.filter ul{
    list-style: none; 
    line-height: 21px;
    
}

.hotels-list ul {
    list-style: none;    
}

.filter-text {
    font-size: 16px;
}

.filter {
    color: #fff;
    background: no-repeat url(../img/filterbackground.jpg);
}

p.founded-text {
    font-size: 21px;
    line-height: 26px;
    margin-left: 73px;
}

.founded-text-min {
    font-size: 12px;
    line-height: 18px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0px;
    padding: 0px;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.hotel-name {
    font-size: 21px;
}

.hotel-class,
.hotel-price {
    color: #333;
}

.hotel-info,
.hotel-booking {
    color: #fff;
    line-height: 21px;
    height: 27px;
    margin-left: 5px;
}

.hotel-info {
    background-color: rgb(129, 179, 210);
    width: 110px;
}

.hotel-booking {
    background-color: rgb(118, 99, 87);
    width: 142px;
}



section.hotel {
    margin: 0px;
    border-bottom:  2px solid rgb(229, 229, 229);
    
    display: flex;
    width: 1200px;
    height: 152px;
    align-items: center;
    align-content: center;
}


section.hotel1 {
    border-top:  2px solid rgb(229, 229, 229);
}

.social-items {
    list-style: none;
    
    display: block;
    width: 46px;
    height: 48px;
    background-color:  rgb(129, 179, 210);
}



.sorting-button {
    text-decoration: none;
    border-bottom: 1px dashed #81b3d2;
    color: rgb(178, 178, 178);
    margin-left: 30px;
}

.sorting-button:hover,
.sorting-button:focus {
    color: #81b3d2;
}

.sorting-button:active {
    color: #000;
}

.arrow {
     fill: rgb(202, 202, 202); 
}

.arrow:hover,
.arrow:focus {
     fill: rgb(0, 0, 0); 
}

.arrow:active {
     fill: #81b3d2; 
}




.hotel-info:focus,
.hotel-info:hover {
    background-color: rgb( 102, 158, 192);
}

.hotel-info:active {
    color: rgba(255,255,255,0.3);
    background-color: rgb(84,150,189);
}

.hotel-booking:focus,
.hotel-booking:hover {
    background-color: rgb(96,78,67);
}


.hotel-booking:active {
    color: rgba(255,255,255,0.3);
    background-color: rgb(80,62,51);
}

.hotel-name:focus,
.hotel-name:hover {
    color: #81b3d2;
}

.hotel-name:active {
    color: rgb(202,202,202);
}

.gotcha button:focus,
.gotcha button:hover {
    background-color: rgb(96,78, 67);
}

.gotcha button:active {
    color: rgba(255,255,255,0.7);
    background-color: rgb(80,62,51);
}

.pole-vvod {
    background-color: rgb(242,242,242);
    
    height: 38px;
    border: 0;
    
    margin-bottom: 30px;
}


.pole-vvod:hover {
    background-color: rgb(235,235,235);
}

.pole-vvod:focus,
.pole-vvod:active {
    background-color: #fff;
}

.button-minus,
.button-plus {
    color: rgb(169,169,169);
    font-weight: bold;
    border: 0;
    width: 38px;
    height: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(242,242,242);
}


.button-minus:active span,
.button-plus:active span{
    color: rgb(129,179,210);
}

.button-minus:focus,
.button-plus:focus,
.button-minus:hover,
.button-plus:hover {
    color: #000;
}

.button-find {
    font-size: 21px;
    line-height: 26px;
    color: #fff;
    background-color: rgb(129,179,210);
    
    width: 458px;
    height: 58px;
    
    margin-top: 25px;
}ss

.button-find:focus,
.button-find:hover {
    background-color: rgb(102,158,192);
}

.button-find:active {
    color: rgba( 255, 255, 255, 0.3);
    background-color: rgb(84,150,189);
}



#Layer_1 {
    fill: "#231f20";
    width: 115px;
    height: 41px;
}

#Layer_1:focus,
#Layer_1:hover {
    fill: rgb(129,179,210);
}

#Layer_1:active {
    fill: rgb(189,187,188);
}

li.home-chip {
    background: no-repeat url(../img/icon-1.svg);
    background-position: 50% 61px;
}

li.food-chip {
   background: no-repeat url(../img/icon-3.svg);
   background-position: 50% 61px;
}

li.present-chip {
   background: no-repeat url(../img/icon-2.svg); 
   background-position: 50% 61px;
}



.social-button:focus,
.social-button:hover {
    display: block;
    background: rgb(102, 158, 192);
}

.social-button:active img {
    opacity: 0.3;
}

.social-button:active {
    background: rgb(84,150,189);
}

.site-container {
    margin: 0;
    padding: 0;
    
    width: 1200px;
    background-color: #ffffff;
}

.reason {
    line-height: 21px;
}

.chips ul{
    line-height: 21px;
    
    display: flex;
}



.gotcha h2{
    line-height: 36px;
    font-size: 30px;
    
    margin-top: 50px;
}

.gotcha {
    line-height: 24px;
    
    display: inline-block;
    height: 290px; 
}

.chip {
    display: block; 
    height: 170px;
    
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 160px;
}


.social-button {
    width: 46px;
    height: 48px;
    background-color: rgb(129,179,210);
}

.reasons h2 {
    font-weight: normal;
}

.site-navigation {
    align-items: center;
}

.logo-li {
    align-self: flex-start;
}



.reason-text-block {
    padding-top: 40px;
    padding-left: 60px;
    padding-right: 60px;
}

.reasons ul{
    padding-left: 0;
}

.reason img{
    height: 255px;
}

.reasons345 {
    display: flex;
}

.gotcha p {
    padding-left: 382px;
    padding-right: 382px;
}



#date-in,
#date-out {
    width: 346px;
}

.polle-vvod-nomber {
    width: 38px;
    
    margin-left: -3px;
    margin-right: -5px;
    
    text-align: center;
}

.form-label {
    padding-right: 17px;
    font-weight: bold;
}

.search-form {
    margin-top: 55px;
}

.borron-plus-first {
    
}

.button-plus-first {
    margin-right: 40px;
}



.form-label-person-nomber {
    margin-left: 18px;
}

.form-label-child-nomber {
    padding-left: 16px;
}

.footer-social ul{
    display: flex;
    align-items: center;
}

.footer-copyright-container {
    display: flex;
    justify-content: space-between;
    width: 200px;
    align-items: center;
}







.social-button-href img{
    position: relative;
    left: 30%;
    top: 30%;
}





.reason-title2 {
    font-size: 21px;
}

.gotcha-button {
    line-height: 26px;
}



.filter-form {
    display: flex;
    flex-wrap: wrap;
    height: 215px;
}

.found-info {
    display: flex;
    height: 86px;
    align-items: center;
}

.found-info  ul {
     display: flex;
     margin-left: 8px;
}

.founded-text-min-sort {
     margin-left: 45px;
}

.arrow-up {
    margin-left: 500px;
    margin-right: 10px;
}

.hotel img{
    margin-left: 73px;
}

.hotel-text-info {
    margin-left: 30px;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 255px;
    height: 90px;
}

.yaebalvashiclassy {
    display: flex;
    width: 185px;
    justify-content: space-between;
    
    line-height: 21px;
    font-size: 14px;
    
    margin-top: -10px;
}

.yaebalvashiclassybbb {
        display: flex;
        line-height: 21px;
}

.spisok-filtrov {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: left;
    width: 140px;
}

.spisok-filtrov ul{
    padding: 0;
}

.spisok-filtrov2 {
    margin-left: 150px;
}

.spisok-filtrov1 {
    margin-left: 73px;
}

.price-filter {
    margin-left: 350px;
    width: 315px;
    
}

.otdo {
    display: flex;
    border: 3px solid #fff;
    height: 35px;
    align-items: center;
    justify-content: space-between;
}



.price-filter h2{
        text-align: left;
}

.ebalvrot {
    border-right: 3px solid #fff;
    padding-right: 64px;
    padding-left: 67px;
}

.ebalvrotnaoborot {
    padding-right: 50px;
}

.show-button {
  display: inline-block;
  background-color: rgba(0,0,0,0);
  color: #fff;
  border: 2px solid #fff;
  text-align: center;
  width: 135px;
  height: 35px;
  margin-top: 20px;
}

#price-range {
    width: 100%;
    margin-top: 20px;
}

.stars {
    display: block;
    background: no-repeat url(../img/star.svg);
    height: 17px;
    width: 18px;
}



.star-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 17px;
}

.reiting {
    display: inline-block;
    line-height: 21px;
    width: 110px;
    height: 27px;
    background: rgb(242,242,242);
    text-align: center;
    color: #666;
    margin-top: 50px;
}

.hotel-reiting {
    display: flex;
    flex-wrap: wrap;
    width: 110px;
    justify-content: flex-end;
    margin-left: 525px;
}
